{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    {% block style %}{% endblock style %}
    <title>タスク管理</title>
</head>
<body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    
    {% block script %}{% endblock script %}
        
</body>
</html>