{% extends 'main/base.html' %}
{% load static task_app %}
{% load static %}
{% load sass_tags %} 

{% block style %}
<link rel="stylesheet" href="{% sass_src 'main/scss/my-tasks.scss' %}">
{% endblock style %}

{% block header %}{% endblock header %}

{% block content %}

<h2>{{ username }} のタスクリスト</h2>

<div>
    {% if user.icon %}
    <img src="{{ user.icon.url }}" alt="アイコン画像" class="task__icon">
    {% else %}
    <img src="{% static 'main/images/default-icon.png' %}" alt="デフォルトのアイコン画像" class="task__icon">
    {% endif %}
</div>

<img src="{% static 'main/images/settings.png' %}" alt="設定" id="settings-image" onclick="toggleVisibility('settings');">

<div id="settings" style="display: none;">
    <form method="post">
        {% csrf_token %}
        {{ usernamechange_form.as_p }}
        <input type="submit" value="完了">
    </form>
</div>

<h3>新しいタスク</h3>
<form action="{% url 'main:my_tasks' %}" method="post">
    {% csrf_token %}
    {{ task_form.non_field_errors }}
    <div class="form-field">
        {{ task_form.title.label_tag }}
        {{ task_form.title }}
    </div>
    <div class="form-field">
        {{ task_form.content.label_tag }}
        {{ task_form.content }}
    </div>
    <div class="form-field">
        {{ task_form.deadline.label_tag }}
        {{ task_form.deadline }}
    </div>
    <button type="submit">送信</button>
</form>

<h3>タスク一覧</h3>
<div id="my-tasks">
    {% if not my_tasks_list %}
        <p id="task-notset">タスクはまだ設定されていません</p>
    {% else %}
        <p id="task-set">現在のタスク</p>
        <table id="task-table">
            <tr>
                <th class="task-table__header" id="task-title__header">タイトル</th>
                <th class="task-table__header" id="task-content__header">本文</th>
                <th class="task-table__header" id="task-deadline__header">締め切り</th>
                <th class="task-table__header" id="task-status__header">状態</th>
            </tr>
            {% for task in my_tasks_list %}
                {% if task.is_completed == False %}
                <tr id="task-{{ task.pk }}">
                    <td class="task-title">{{ task.title }}</td>
                    <td class="task-content">{{ task.content }}</td>

                    {% if task.deadline %}
                        <td class="task-deadline">{{ task.deadline }}</td>
                        {% if task.is_deadline_passed %}
                            <td class="task-remaining-datetime"><b>{{ task.remaining_datetime | deadline_passed_elapsed_time }}</b>過ぎています</td>
                        {% else %}
                            <td class="task-remaining-datetime">締切まで: {{ task.remaining_datetime | elapsed_time }}</td>
                        {% endif %}
                    {% else %}
                        <td class="task-no-deadline">締切なし</td>
                    {% endif %} {# task.deadline #}

                    <td class="task-complete-delete__container">
                        <form class="task-complete" action="" method="post">
                            {% csrf_token %}
                            <button type="submit" value="{{ task.pk }}" class="task-complete__btn">完了</button>
                        </form>
                    </td>
                    <td class="task-complete-edit__container">
                        <button type="submit" value="{{ task.pk }}" class="task-edit__btn" 
                        onclick="showElementAtPosition('task-edit__form-{{ task.id }}', event.clientX, event.clientY);">編集</button>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% for task in my_tasks_list %}
            <form id="task-edit__form-{{ task.id }}" class="task-edit__form" action="" method="post" style="display: none; position: absolute;">
                {% csrf_token %}
                {{ task_form.non_field_errors }}
                <p class="task-edit__form__content">
                    タイトル: <input class="task-edit__form__content"  type="text" name="title" maxlength="256" required="" id="id_title" value="{{ task.title }}">
                </p>
                <p class="task-edit__form__content">
                    内容: <input class="task-edit__form__content" type="text" name="content" id="id_content" value="{{ task.content }}">
                </p>
                <p class="task-edit__form__content">
                    締切: <input class="task-edit__form__content" type="date" name="deadline_0" value="{{ task.deadline | extract_date_from_datetime }}" required="" id="id_deadline_0">
                <input type="time" name="deadline_1" value="{{ task.deadline | extract_time_from_datetime }}" required="" id="id_deadline_1">
                </p>
                <button  class="task-edit__form__content task-edit__submit-btn" type="submit" value="{{ task.pk }}">変更</button>
            </form>
        {% endfor %}
    {% endif %}    
</div>

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'main/js/my-tasks-popup-settings.js' %}"></script>
<script type="module" src="{% static 'main/js/my-tasks-ajax.js' %}"></script>
{% endblock script %}