{% extends 'main/base.html' %}
{% load static %}
{% load sass_tags %} 

{% block style %}

{% endblock style %}

{% block header %}{% endblock header %}

{% block content %}

<form action="{% url 'main:signup' %}" method="post">
    {% csrf_token %}
    <label>ユーザーID</label>
    {{ form.username }}
    {{ form.username.errors }}
    <label>パスワード</label>
    {{ form.password1 }}
    {{ form.password1.errors }}
    <label>パスワード(確認)</label>
    {{ form.password2 }}
    {{ form.password2.errors }}
    <button type = "submit">登録</button>
</form>

{% endblock content %}