.task__icon {
    border: solid 2px black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.task-complete-delete__container {
    display: flex;
    .task-complete__btn {
        margin-right: 2px;
        background-color: rgb(207, 255, 239);
        border: solid 2px aquamarine;
        border-radius: 20%;
    }

    .task-edit__btn {
        background-color: rgb(178, 241, 255);
        border: solid 2px rgb(56, 235, 255);
        border-radius: 20%;
    }
}


#settings-image {
    width: 50px;
    height: 50px;
    cursor: pointer;
}